<article class="message is-success">
  <div class="message-header">
    <p>Erfolgreich abonniert!</p>
  </div>
  <div class="message-body">
    Vielen Dank für dein Interesse! Du wirst von nun an informiert wenn neue Artikel aufgeschaltet werden.
  </div>
</article>
