<% if notice %>
  <article class="message is-success">
    <div class="message-header">
      <p><%= notice['title'] %></p>
    </div>
    <div class="message-body">
      <%= notice['text'] %>
    </div>
  </article>
<% end %>
